.form-control{
    width: 300px;
    height: 30px;
    position: relative;
    left: 108px;
}
.for1{
    width: 300px;
    height: 30px;
    position: relative;
    left: 107px;
}
.for2{
    width: 300px;
    height: 30px;
    position: relative;
    left: 130px;
}
.for3{
    width: 300px;
    height: 30px;
    position: relative;
    left: 126px;
}
.for4{
    width: 300px;
    height: 30px;
    position: relative;
    left: 95px;
}
